{% if errors %}
    {% set errorText = locale.error %}
    {% for error in errors %}
        {% if error in locale.errors|keys %}
            {% set errorText = locale.errors[error] %}
            <div class="row">
                <div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{ locale.error }}</strong> {{ errorText }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endif %}

{% if successes %}
    {% set successText = locale.success %}
    {% for success in successes %}
        {% if success in locale.successes|keys %}
            {% set successText = locale.successes[success] %}
            <div class="row">
                <div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{ locale.success }}</strong> {{ successText }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}

    {% endfor %}
{% endif %}
