{% extends "master.php.twig" %}
{% block title %}{{ locale.table.title }}{% endblock %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
{% include 'partials/data.php.twig' %}
</main>
{% endblock %}
